---
// /magaza URL'si magaza.3d-labx.com'a yönlendirir
---

<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=https://magaza.3d-labx.com">
  <title>Mağaza - 3D-labX</title>
  <script>
    window.location.href = "https://magaza.3d-labx.com";
  </script>
</head>
<body>
  <p>Mağazaya yönlendiriliyorsunuz... <a href="https://magaza.3d-labx.com">Tıklayın</a></p>
</body>
</html>
